@model Product
<div asp-validation-summary="ModelOnly">
</div>
<br />
<br />
<form method="post">
    <div class="row">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" placeholder="Product Name" required="required" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="row">
        <label asp-for="Model"></label>
        <input type="text" asp-for="Model" placeholder="Product Model" required="required" />
        <span asp-validation-for="Model"></span>
    </div>
    <div class="row">
        
        <label asp-for="Brand"></label>
        <select asp-for="Brand" asp-items="Html.GetEnumSelectList<Brand>()" required="required" ></select>
        <span asp-validation-for="Brand"></span>
    </div>
    <div class="row">
        <label asp-for="Color"></label>
        <input type="text" asp-for="Color" placeholder="Product Color" required="required" />
        <span asp-validation-for="Color"></span>
    </div>
    <div class="row">
        <label asp-for="Category"></label>
        <select name="Cat" asp-items="ViewBag.Cat" required="required"></select>
        <span asp-validation-for="Category"></span>
    </div>

    <button type="submit" asp-controller="Storage" asp-action="Create" class="btn btn-primary">ساخت محصول</button>
</form>
